/manager/target/
/model/target/
/common/common-service/target/
/common/common-util/target/
/common/common-log/target/
/stu-service/product-service/target/
/stu-server-gateway/target/
/stu-service/service-user/target/
